/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/common/__pycache__
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/results_Eleni_Take2_mocap8_kld0.2_cl1.0
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/results_Eleni_Take2_mocap8_kld1.0_cl0.0
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/results_Eleni_Take2_mocap8_kld1.0_cl1.0
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Diane_kld0.1
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Diane_kld1.0
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Eleni_kld0.1
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Eleni_kld1.0
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Tim_kld0.1
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/results_audio_vae_vocos_cnn_Tim_kld1.0
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/common/__pycache__
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/results_Eleni_Take2_mocap8_kld0.2_cl1.0
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/results_Eleni_Take2_mocap8_kld1.0_cl0.0
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/results_Eleni_Take2_mocap8_kld1.0_cl1.0
/Transformer/Motion2Audio_Transformer_Music2Latent/Inference/common/__pycache__
/Transformer/Motion2Audio_Transformer_Music2Latent/Inference/music2latent/__pycache__
/Transformer/Motion2Audio_Transformer_Music2Latent/Training/music2latent/__pycache__
/Transformer/Motion2Audio_Transformer_Music2Latent/Training/results_Diane
/Transformer/Motion2Audio_Transformer_SoundStream/Inference/common/__pycache__
/Transformer/Motion2Audio_Transformer_SoundStream/Training/common/__pycache__
/Transformer/Motion2Audio_Transformer_SoundStream/Training/results_Eleni_Take1
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Inference/common/__pycache__
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/common/__pycache__
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_ExcerptRepeat_Take1_v4.2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_ExcerptRepeat_Takes1-4_v4.2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_Father_v3
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_Father_v4
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_Take2_kld1.0_60hz
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Eleni_ExcerptRepeat_Take1_v4.2
/Transformer/Motion2Audio_Transformer_Vocos/Training/results_Eleni_Take1_v4_2
/Transformer/Motion2Audio_Transformer_Vocos/Training/common/__pycache__
/Transformer/Motion2Audio_Transformer_Vocos/Inference/common/__pycache__
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Tim_Take1_v4
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Tim_RepeatedExcerpts_Take1_60hz_v4.2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Stocos_Take3_v4
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Eleni_Take2_v4_2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Eleni_Take1_v4_2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Tim_RepeatedExcerpts_Takes1-3_60hz_v4_2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Stocos_Take3_v2
/Transformer/Motion2Audio_Transformer_Vocos/Training/results_Eleni_Take1_v4
/Transformer/Motion2Audio_Transformer_Vocos/Training/results_Diane_Take1_v4
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Eleni_Take2_kld0.1_60hz
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Eleni_ExcerptRepeat_Takes1-3_v4.2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Diane_Father
/Transformer/Motion2Audio_Transformer_Music2Latent/Training/common/__pycache__
/Transformer/Motion2Audio_Transformer_Music2Latent/Training/music2latent/models
/Transformer/Motion2Audio_Transformer_Music2Latent/Inference/music2latent/models
/MotionCapture/MocapPlayer/common/__pycache__
/MotionCapture/MocapPlayer/__pycache__
/MotionCapture/XSens2Osc_FBX/.vs
/MotionCapture/XSens2Osc_FBX/obj
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/.spyproject
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results/anims_with_audio
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/results_Eleni_Take2_mocap8_kld02_cl0.1
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/results_Eleni_Take2_mocap8_kld02_cl0.2
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Training/results_Tim_Take2_kld0.1_60hz
/MotionCapture/MocapPlayer_XSens2Osc/.ipynb_checkpoints
/MotionCapture/MocapPlayer_XSens2Osc/.virtual_documents
/MotionCapture/MocapPlayer_XSens2Osc/__pycache__
/MotionCapture/MocapPlayer_XSens2Osc/common/__pycache__
/MotionCapture/SensorRecorder_Xsens/.ipynb_checkpoints
/MotionCapture/SensorRecorder_Xsens/.spyproject
MotionCapture/SensorRecorder_Xsens/recordings/Alexander_SimpleMotions_09.01.2026.pkl
/MotionCapture/SensorRecorder_Zed/.ipynb_checkpoints
/MotionCapture/SensorRecorder_Zed/.spyproject
/MotionCapture/XSens2Osc_FBX_no_timing_thread/.vs
/MotionCapture/XSens2Osc_FBX_no_timing_thread/obj
/Transformer/Motion2Audio_Transformer_VAE_Vocos/Inference/.spyproject
Transformer/Motion2Audio_Transformer_VAE_Vocos/Inference/Diane_kld0.1_evaluation_no_screenrecord.wav
Transformer/Motion2Audio_Transformer_VAE_Vocos/Inference/Diane_kld0.1_evaluation_with_screenrecord.wav
Transformer/Motion2Audio_Transformer_VAE_Vocos/Inference/Diane_Version_kld1.0_decoder_training.wav
Transformer/Motion2Audio_Transformer_VAE_Vocos/Inference/Tim_kld0.1_evaluation.wav
Transformer/Motion2Audio_Transformer_VAE_Vocos/Inference/Tim_kld0.1_jointdropout_evaluation.wav
Transformer/Motion2Audio_Transformer_VAE_Vocos/Inference/Tim_kld1.0_dectrain_evaluation.wav
/VAE/Audio_VAE/Audio_VAE_Vocos/Training/.spyproject
/VAE/Multimodal_VAE/Multimodal_VAE_Vocos_CL/Training/.spyproject
